# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.git
# C extensions
*.so
 
# Virtual environment directories
env/
venv/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Django stuff
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# Jupyter Notebook files
.ipynb_checkpoints

# IDEs and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini


.env
Dockerfile
aws_keys.txt
![Dd]ockerfile
aws/
awscliv2.zip


# MyPy
.mypy_cache/
dmypy.json
dmypy.log
